* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

body {
  background-color: ghostwhite;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}


.js-input {
  height: 25px;
  padding: 5px;
}

.js-list-city {
  display: none;
}

.text {
  display: block;
}

